*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:#333;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height:100vh;
    overflow:hidden;
}
/*profile picture section*/
#profile-picture{
    width: inherit;
    height: 150px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    margin:.25rem 0 0 0;
}
h3{
    font-size:18px;
    color:#fff;
    font-family: "Madimi One", sans-serif;

}
#contact-info>div>span{
    font-size:48px;

}
.span-border{
border:4px solid #fff;
border-radius: 50%;
padding: .75rem;
}

#contact-info,
#name-container,#contact-container{
    width: 100%;
    display: flex;
}
#contact-info{
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.75rem;
}
#contact-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

#name-container{
    margin-left:3em;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 1rem;

}
#file-label,
#file{
display:none;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.label{
    font-family: "Madimi One", sans-serif;
    margin-left:.5rem;
}
.card-info>form>div:not(:nth-child(1))>div>input{
    padding: .5rem;
    cursor:text;
    border-radius: 12px;
    border:none;
    outline: none;
    box-shadow: 0 0 transparent;
    text-align: center;
    font-size:18px;
    animation-delay: 3s;
}

.img-border{
    top:-50px;
position:absolute;
width: 140px;
height:140px;
border:.25px solid silver;
border-radius: 50%;
margin-bottom:.25rem;
cursor:pointer;
overflow:hidden;
display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
 }

#profile-container{
    transform: scale(.85);
    height:575px;
    width:100%;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

/*user info*/
#user-info{
    height:150px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:.25rem;

}
#user-display{
    height:200px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:3rem;
}
.open{
display:block;
}
.close{
display:none;
}
.card{
    position:absolute;
    border-radius:12px;
}
.card-back{
    height:550px;
    width:325px;
    background:indigo;
    opacity:1;
    /* top: 40px; */
    /* right:-100%; */
    animation:backcard 3.25s ease infinite alternate;

}
.card-front{
    height:550px;
    width:325px;
    background:violet;
    opacity:.35;
    /* bottom: 40px; */
    animation:frontcard 3s ease infinite alternate-reverse;
    /* left:-100%; */
    
}
.card-mid{
    height:450px;
    width:350px;
    opacity:.15;
    background:white;
}
.card-info{
    height:425px;
    width:325px;
    opacity:.85;
    z-index:999;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 2rem 0;    
    animation:cardinfo 1s forwards ease 1s;
    position:relative;
}
input,label,.img-border{
    opacity:0;
    transition:.5s;
}

@keyframes backcard {
    from{
        bottom:5px;
        transform:translate(-15px,0)

    }
    to{
        bottom:0;
        transform:translate(10px,0)
    }
}
@keyframes frontcard {
    from{
        top:5px;
        transform:translate(15px,0)

    }
    to{
        top:0;
        transform:translate(-10px,0)
    }
    
}
/* @keyframes cardinfo {
    from{
        opacity:0;

    }
    to{
       opacity:1;
    }
} */

#submit{
    padding:.75rem 1.5rem;
    border-radius: 12px;
    border:none;
    cursor:pointer;
    transition:.5s;
    background:#fff;
}
#submit:hover{
    color:#fff;
    background:#333;
    transition:.75s;
    }
form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 2rem 0;
    gap:3rem;
}
#user-info{
    margin-top:.75rem;
}
 


@media screen and (max-width:400px) and (max-height:900px){
    .card-info{
        transform:scale(.9)
    }
    .img-border{
        margin-bottom:.75rem;
    }
}